* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font: 16px Helvetica, Arial;
	color: white;
	background-color: black;
}
#num-players {
	display: inline;
}
.time {
	margin: 0px 0px 0px 10px;
	font-family: 'Digital7';
	font-size: 6.25rem;
	color: rgb(153, 26, 26);
	font-weight: 400;
}

.player-label {
	display: block;
	font-size: 2.5rem;
}

@font-face {
	font-family: Digital7;
	src: url('./digital-7.mono.ttf') format('truetype');
}

@font-face {
	font-family: DSEG7;
	src: url('./DSEG7Classic-Regular.woff') format('woff');
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: rgb(153, 26, 26);
	border-radius: 5px;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid rgb(153, 26, 26);
	width: 500px; /* Could be more or less, depending on screen size */
}
.modal-players {
	text-align: center;
}
.modal-label {
	font-size: 1.5rem;
	font-weight: 500;
}
.modal-textbox {
	font-size: 1.5rem;
	border-radius: 5px;
	padding: 2px 10px;
	width: 70%;
}
#modal-save {
	display: block;
	border: 2px solid black;
	margin: 1.25rem auto 0 auto;
	background-color: rgb(153, 26, 26);
}

.button {
	display: inline-block;
	height: 36px;
	padding: 0 20px;
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
}
.button:hover {
	transform: scale(1.05);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
